<div class="col-12">
    <div class="font-weight-bold font18">Dashboard</div>
    <div class="row justify-content-center mt-4">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="font-weight-bold">Total Students</div>
                    <div class="ml-auto font30">{{studentsCount}}</div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="font-weight-bold">Students Present on 21 Feb</div>
                    <div class="ml-auto font30">{{attendanceCount}}</div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="font-weight-bold">Notifications Count</div>
                    <div class="ml-auto font30">{{notificationsCount}}</div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>