<div class="font-weight-bold font18">Student's Details</div>
<div class="card mt-4">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="student_profile mx-auto">
                    <img src="../../../../assets/student.jpg" width="100" class="img-fluid" alt="Student Image"/>
                </div>
                <div class="mt-5">
                    <div class="font20 font-weight-bold">Name:</div>
                    <div>{{studentDetails.name}}</div>
                    <hr/>
                    <div class="font20 font-weight-bold">Class:</div>
                    <div>{{studentDetails.class}}</div>
                    <hr/>
                    <div class="font20 font-weight-bold">Address:</div>
                    <div>Indore</div>
                </div>
            </div>
        </div>
    </div>
</div>